---
import TopPicks from "./Home/TopPicks.astro"
import NewPost from "./Home/NewPost.astro"
import Quote from "./Home/Quote.astro"
---

<div class="text-3xl text-3xl">
    <NewPost />
    <TopPicks />
    <Quote />
</div>