---
import AdminLayout from "../../../layouts/AdminLayout.astro";
---

<AdminLayout>
    <div>
        <h1 class="text-3xl font-bold mb-4">Create New Post</h1>
        <!-- New post creation form goes here -->
    </div>
</AdminLayout>