---
import AdminLayout from "../../layouts/AdminLayout.astro";
---

<AdminLayout>
  <h1 class="text-3xl">
    Welcome back
    <span class="font-bold text-gray-900"> Dave </span>
  </h1>
</AdminLayout>
